html, body {
    height: 100%;
    overflow: hidden
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

#outer {
    position: relative;
    text-align: center;
    /* border: 2px solid green; */
    height: 100vh;
}

#vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    /* border: 2px solid red; */
}

#inner {
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 10vw;
    /* border: 2px solid orange; */
}

#text {
    font-size: 120px;
    /* border: 2px solid orange; */
    font-family:Verdana;
    z-index: 9;
}

#text2 {
    font-size: 23px;
    position: absolute;
    right: 6vw;
    top: 2vh;
    /* border: 2px solid orange; */
    font-family:Verdana;
    z-index: 9;
}

#box {
    /* position: relative; */
    /* border: 2px solid olivedrab; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* width: 90vw; */
}

#rect {
    width: 90vw;
    height: 90vh;
    /* fill: rgb(0,90,128); */
}

#text {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  } 

#target {
    position: absolute;
    width: 100vw;
    height: 100vh;
    /* border: 2px solid orange; */
    z-index: 10;
}